{% load django_htmx %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Обучение | {% block subtitle %}{% endblock %}</title>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self';">

  <!-- Setup htmx configuration -->
  <meta name="htmx-config" content='{"historyCacheSize": 15}'>

  <script src="{% static 'ui_client/js/htmx.min.js' %}" defer></script>
</head>



<body>
  <header class="header">
    <p>Будущая Шапка</p>

    {% if messages %}
    <div class="messages" role="region">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}

  </header>
  <br>

  {% block content %}{% endblock %}
  <br>
</body>


</html>