{% extends 'base.html' %}
{% block title %}главная{% endblock %}


{% block content %}
  <nav class="navigation">
    <ul class="menu-items">
      <li class="menu-item" role="menuitem">
        <a href="">Заявки</a>
      </li>
      <li class="menu-item" role="menuitem">
        <a href="">Группы</a>
      </li>
      <li class="menu-item" role="menuitem">
        <a href="{% url 'accounts:logout' %}">Выйти</a>
      </li>
    </ul>
  </nav>


  <main>
    <p>будущая страница профиля</p>
  </main>
{% endblock %}