{% extends base_template %}
{% block subtitle %}Курсы{% endblock subtitle %}


{% block content %}
  <main>
    {% if not folders %}
    <h1><span aria-live="assertive" role="alert">Папки курсов не найдены</span> </h1>
    <p>Увас не добавлено не одного учебного курса. Добавьте их через панель администратора. </p>

    {% else %}
    <h1>Папки курсов</h1>
    <ul>
      {% for folder in folders %}
      <li>
          <h2> <a href="{% url 'learning_requests:folder' folder.slug %}">{{ folder.name }} </a> </h2>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </main>
{% endblock %}
