{% extends base_template %}
{% block subtitle %}Вход{% endblock subtitle %}


{% block content %}
  <main>


    <h1>Вход в систему</h1>
    <p>если ещё нет аккаунта, самое время
      <br>
      <a href="{% url 'accounts:register' %}" hx-get="{% url 'accounts:register' %}" hx-push-url="{% url 'accounts:register' %}">зарегистрироваться</a></p>

    <form
    hx-post="#"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-target=".application-screan"
  >
      {{ form.non_field_errors }}

      <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="id_username">Имя пользователя:</label>
        {{ form.username }}
      </div>
      <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="id_password">Пароль:</label>
        {{ form.password }}
      </div>

      <button type="submit">Войти</button>
    </form>


  </main>
{% endblock %}
