{% extends base_template %}
{% block subtitle %}Регистрация{% endblock subtitle %}

{% block content %}
  <main hx-boost="true" hx-target=".application-screan">
    <h1>Добро пожаловать</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="fieldWrapper">
        {{ form.first_name.as_field_group }}
      </div>

      <div class="fieldWrapper">
        {{ form.last_name.as_field_group }}
      </div>

      <div class="fieldWrapper">
        {{ form.email.as_field_group }}
      </div>

      <div class="fieldWrapper">
        {{ form.password1.as_field_group }}
      </div>

      <div class="fieldWrapper">
        {{ form.password2.as_field_group }}
      </div>

      <button type="submit">Зарегистрироваться</button>
    </form>
  </main>
{% endblock %}
