{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rehacomp learning | {% block title %}{% endblock %}</title>
</head>



<body>
  <header class="header">
    <p>Будущая Шапка</p>

    {% if messages %}
    <div class="messages" role="region">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}

  </header>
  <br>



  <main>    
  {% block content %}
  {% endblock %}
  </main>
  <br>


  <footer class="footer">
    <p>Будущий подвал</p>
  </footer>
</body>


</html>