{% load django_htmx %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>{% block subtitle %}{% endblock subtitle %} - обучение</title>

  <!-- Setup htmx configuration -->
  <meta name="htmx-config" content='{"historyCacheSize": 15, "selfRequestsOnly": true, "includeIndicatorStyles": false}'>

  <script src="{% static 'common/js/htmx.min.js' %}" defer></script>
</head>



<body>
  <header class="header" role="banner">
    <p>Будущая Шапка</p>

    {% if messages %}
    <div class="messages" role="region">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}

  </header>
  <br>

  <div class="application-screan"> {% block content %}{% endblock %} </div>
  <br>
</body>


</html>